.container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family: "Exo", sans-serif;
    color: #1b262c;
}

.inputName {
    margin-bottom: 20px;
    font-style: normal;
}

.form {
    width: 900px;
    padding: 10px;
    font-style: italic;
    border-radius: 5px;
    outline-color: #0f4c75;
    box-shadow: 0 1px 2px #00000033 inset, 0 -1px 0 #0000000d inset;
    margin-bottom: 20px;
    font-size: 16px;
}

.form::placeholder {
    padding-left: 5px;
}

.country {
    width: 70%;
    margin: 0 auto;
}

.country-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.info-conteiner {
    text-align: left;
    line-height: 2;
}

.languages {
    padding-left: 10px;
}

.flag {
    border: solid 1px #1b262c;
}

.countries {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}